@font-face {
  font-family: 'BlackChancery';
  src: url('assets/fonts/BlackChancery.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair';
  src: url('assets/fonts/Playfair.ttf') format('truetype');
}

@font-face {
  font-family: 'Comfortaa';
  src: url('assets/fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Abel';
  src: url('assets/fonts/Abel-Regular.ttf') format('truetype');
}

:root {
  --background-color-light: #fbfbff;
  --background-color-dark: #12110f;
  --text-color-light: #12110f;
  --text-color-dark: #fbfbff;
}

.text-stroke {
  text-shadow: #000 0 0 5px;
}

body {
  font-family: 'Abel', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-color-light);
  background-color: var(--background-color-light);
  line-height: 1.5;
  transition: none;
  overflow-x: hidden;
}

p {
  line-height: 1.25em;
  padding: 0 0 1em 0;
  text-align: justify;
}

.font-fantasy {
  font-family: 'BlackChancery', sans-serif;
}

.font-smooth {
  font-family: 'Comfortaa', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  opacity: 80%;
}

body:not(.dark) {
  color: var(--text-color-light);
  background-color: var(--background-color-light);
}

img,
button {
  user-select: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

body:not(.dark) h1,
body:not(.dark) h2,
body:not(.dark) h3,
body:not(.dark) h4,
body:not(.dark) h5,
body:not(.dark) h6 {
  color: var(--text-color-light);
}

@media (prefers-color-scheme: dark) {
  body:not(.dark) {
    color: var(--text-color-dark);
    background-color: var(--background-color-dark);
  }

  body:not(.dark) h1,
  body:not(.dark) h2,
  body:not(.dark) h3,
  body:not(.dark) h4,
  body:not(.dark) h5,
  body:not(.dark) h6 {
    color: var(--text-color-dark);
  }

  body:not(.dark) a {
    color: var(--link-color-dark);
  }
}

body.dark {
  color: var(--text-color-dark);
  background-color: var(--background-color-dark);
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6 {
  color: var(--text-color-dark);
}

* {
  transition: background-color 0.2s ease, border-color 0.2s ease,
    opacity 0.2s ease;
}
