@font-face {
  font-family: 'BlackChancery';
  src: url('assets/fonts/BlackChancery.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair';
  src: url('assets/fonts/Playfair.ttf') format('truetype');
}

@font-face {
  font-family: 'Comfortaa';
  src: url('assets/fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Abel';
  src: url('assets/fonts/Abel-Regular.ttf') format('truetype');
}

.text-stroke {
  text-shadow: #000 0 0 5px;
}

body {
  font-family: 'Abel', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  transition: none;
  overflow-x: hidden;
  color: white;
}

p {
  line-height: 1.25em;
  padding: 0 0 1em 0;
  text-align: justify;
}

.font-fantasy {
  font-family: 'BlackChancery', sans-serif;
}

.font-smooth {
  font-family: 'Comfortaa', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  opacity: 80%;
}

img,
button {
  user-select: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

* {
  transition: background-color 0.2s ease, border-color 0.2s ease,
    opacity 0.2s ease;
}
